dearpygui==1.10.1
dearpygui_ext==0.9.5
einops==0.8.0
icecream==2.1.3
imageio==2.34.2
kornia==0.7.0
matplotlib==3.7.0
numpy==2.1.3
opencv_python_headless==4.9.0.80
Pillow==9.4.0
Pillow==11.0.0
plyfile==1.1
pyexr==0.4.0
pyquaternion==0.9.9
scipy==1.10.0
setuptools==67.8.0
torch==1.13.1+cu117
torch==2.0.1
torchvision==0.14.1+cu117
tqdm==4.64.1